if has nix; then
  watch_dir nix
  use flake

else
    (
        echo
        echo 'NOTE: This project uses `nix` for its development environment.'
        echo
        echo '      To use it, install it from here: https://nixos.org/download.html#download-nix'
        echo '      and make sure that `nix` is on your `$PATH`.'
        echo
    ) >&2
fi

source_env_if_exists .envrc.private